<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>

<body>
    <h1>프로젝트 노드 연동 테스트</h1>
    <br>

    <p>user1 id = <%= user[0].id %></p>
    <p>user1 pw = <%= user[0].password %></p>

    <a href="/allDR">전체토론방</a>
</body>

</html>